<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
            integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
            crossorigin="anonymous"></script>
    <title>WebSocket 测试</title>
</head>

<body>
<h2>聊天测试</h2>
<div style="margin-bottom:5px;">
    房间号: <input type="text" id="txtRoomNo" value="15" /> <button id="btnJoin">加入房间</button> <button
        id="btnLeave">退出房间</button>
</div>
<div style="margin-bottom:5px;">
    昵称: <input type="text" id="txtNickName" value="" placeholder="请输入昵称" />
</div>
<div >
    <div style="float: left">
        <div id="contactPerson"></div>
        <iframe id="iframe_msg" name="iframe_msg" src="/message" style="border: solid" width="500" height="500"  scrolling="auto" frameborder="0"> </iframe>
        <div style="text-align: right">
            <input type="text" id="txtMsg" value="" /> <button id="btnSend">发送消息</button>
        </div>
    </div>
    <div style="float: left">
        <div>在线人数</div>
        <iframe id="userIframe" name="userIframe" src="/socket" style="border: solid" width="200" height="500"  scrolling="auto" frameborder="0"> </iframe>
    </div>
    <div style="float: left">
        <div>房间号列表</div>
        <iframe id="roomIframe" name="roomIframe" src="/room_List" style="border: solid" width="200" height="500"  scrolling="auto" frameborder="0"> </iframe>
    </div>


</div>
</body>

</html>

<script type="text/javascript">

    $(function () {
        //设置联系对象
        let roomCode = $('#txtRoomNo').val();
        if (roomCode) {
            $('#contactPerson').text("正在房间号:" + roomCode + "通讯");
        }
        setTimeout(function () {
            $(window.frames["iframe_msg"].document).find("#msgList").append("<div>网络已连接成功...</div>")
        },1000)

    })
    //
    let msgModel = {
        state: null,
        nick: null,
        msg: null,
        sendTime: null,
        roomCode: null,
        onlineMap: null,
        communicationObject: null,
        myCommunication: null,
        onLineList: []

    }

    let onList = {
        onlineRooms: [],
        onlineUsers: []
    };
    // var server = 'ws://localhost:5018'; //如果开启了https则这里是wss
    var server = 'ws://42.192.12.127:8089';

    var WEB_SOCKET = new WebSocket(server + '/websocket');

    WEB_SOCKET.onopen = function (evt) {
        console.log('Connection open ...');
        let msg = "网络连接已打开";
        msgModel.msg = msg

    };
    WEB_SOCKET.onmessage = function (evt) {

        if (evt.data) {
            let objcet = JSON.parse(evt.data);
            if (!objcet.state) {
                onList = JSON.parse(evt.data);
                let rooms = '';
                for (let i = 0; i < onList.onlineRooms.length;i++) {
                    rooms += '<div><button onclick="sendRoomCode(&quot;'+ onList.onlineRooms[i] +'&quot;)" >房间号:'+ onList.onlineRooms[i] +'</button></div>';

                }
                let users = '';
                for (let key in onList.onlineUsers) {
                    let myName = $('#txtNickName').val();
                    let nick = onList.onlineUsers[key].nick;
                    if (myName != nick) {
                        users += '<div><button onclick="sendNick(&quot;'+ key +'&quot;)">昵称:'+ nick +'</button</div>';
                    }

                }
                $(window.frames["roomIframe"].document).find("#roomList").html(rooms);
                $(window.frames["userIframe"].document).find("#userList").html(users);

                console.log(onList.onlineUsers.length)
                console.log(onList)
            } else {
                msgModel = JSON.parse(evt.data);
                //获取实例对象的字符串
                var content = $('#msgList').val();
                let msg = "";

                console.log(msgModel)
                if (msgModel.state == "RETURN_NAME") {
                    $('#txtNickName').val(msgModel.nick)
                    $(window.frames["iframe_msg"].document).find("#msgList").append('<div>'+msgModel.msg+'...</div');

                } else if(msgModel.state == 'SEND_TO_ROOM') {
                    let sendTime = "<text > 发送时间: " + msgModel.sendTime  +  "</text></br>"
                    if (msgModel.self == true) {
                        msg = '<text >我:' + msgModel.msg + '</text><HR>';
                        content = sendTime + msg;
                        $(window.frames["iframe_msg"].document).find("#msgList").append('<div style="float: right;clear:both;">'+content+'</div>');
                    } else {
                        msg = '<text >' + msgModel.nick + ':' + msgModel.msg + '</text><HR>';
                        content = sendTime + msg;
                        $(window.frames["iframe_msg"].document).find("#msgList").append('<div style="float: left;clear:both;">'+content+'</div');

                    }

                } else if(msgModel.state == 'JOIN') {

                    $(window.frames["iframe_msg"].document).find("#msgList").append('<div>'+msgModel.msg+'...</div');

                } else if (msgModel.state == 'SEND_TO_NICK') {
                    let sendTime = "<text > 发送时间: " + msgModel.sendTime  +  "</text></br>"
                    let name = $('#txtNickName').val();
                    if (name == msgModel.nick) {
                        msg = '<text >我:' + msgModel.msg + '</text><HR>';
                        content = sendTime + msg;
                        $(window.frames["iframe_msg"].document).find("#msgList").append('<div style="float: right;clear:both;">'+content+'</div>');
                    } else {

                        //对方显示
                        msg = '<text >' + msgModel.nick + ':' + msgModel.msg + '</text><HR>';
                        content = sendTime + msg;
                        $('#contactPerson').text("正在与 " + msgModel.nick + " 通讯" )
                        $('#txtRoomNo').val("");
                        let nick = $('#txtNickName').val();
                        let myId = msgModel.communicationObject
                        let communicationObject = msgModel.myCommunication
                        msgModel.nick = nick;
                        msgModel.communicationObject = communicationObject;
                        msgModel.myCommunication = myId;
                        console.log(msgModel)
                        $(window.frames["iframe_msg"].document).find("#msgList").append('<div style="float: left;clear:both;">'+content+'</div');

                    }
                }
            }


        }
    };

    WEB_SOCKET.onclose = function (evt) {
        console.log('连接已关闭.');
    };
    //加入房间
    $('#btnJoin').on('click', function () {
        var roomNo = $('#txtRoomNo').val();
        var nick = $('#txtNickName').val();
        if (!nick || !roomNo) {
            alert("请填写完整昵称和房间号!");
            return;
        }
        if (roomNo) {
            msgModel.state = 'JOIN';
            msgModel.roomCode = roomNo;
            msgModel.nick = nick;
            WEB_SOCKET.send(JSON.stringify(msgModel));
        }
    });
    //发送消息
    $('#btnSend').on('click', function () {
        msgModel.msg = $('#txtMsg').val();
        msgModel.roomCode = $('#txtRoomNo').val();
        msgModel.nick = $('#txtNickName').val();
        let heName = onList.onlineUsers[msgModel.communicationObject]
        if (msgModel.roomCode) {
            msgModel.state = 'SEND_TO_ROOM';
            if (msgModel.msg) {
                WEB_SOCKET.send(JSON.stringify(msgModel));
            }

            return;
        } else if (msgModel.nick) {
            if (heName) {
                //回复消息
                let replyMsg = {
                    myCommunication: msgModel.communicationObject,
                    communicationObject: msgModel.communicationObject,
                    nick: heName,
                }

            }
            msgModel.state = 'SEND_TO_NICK';
            if (msgModel.msg) {
                WEB_SOCKET.send(JSON.stringify(msgModel));
            }
        } else {
            alert("请填写完整昵称和房间号!");
        }

    });

    //退出房间
    $('#btnLeave').on('click', function () {
        var nick = $('#txtNickName').val();
        var msg = {
            action: 'leave',
            msg: '',
            nick: nick
        };
        WEB_SOCKET.send(JSON.stringify(msg));
    });

    /**
     * 设置发送key
     * @param nick
     */
    function setNick(nick) {
        console.log(nick)
        let name = onList.onlineUsers[nick].nick
        $('#txtRoomNo').val("");
        msgModel.communicationObject = nick;
        $('#contactPerson').text("正在与" + name + "通讯" )
        $(window.frames["iframe_msg"].document).find("#msgList").html("");


    }
    function setRoomCode(code) {
        console.log(code)
        $('#contactPerson').text("正在房间号:" + code + "通讯");
        $('#txtRoomNo').val(15);
    }
</script>