<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
            integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>

<div style="height:1500px;width:100%;"  id="userList">

</div>
</body>
<script>
    function sendNick(nick) {
        window.parent.setNick(nick)
    }

</script>
</html>